<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysRoleMenuDao">

    <!-- 基于菜单 id 删除菜单关系数据 -->
    <delete id="deleteObjectsByMenuId" parameterType="int">
        DELETE FROM sys_role_menus
        WHERE menu_id = #{menuId}
    </delete>

    <!-- 基于菜单 id 删除角色关系记录 -->
    <delete id="deleteObjectsByRoleId" parameterType="int">
        DELETE FROM sys_role_menus
        WHERE role_id = #{releId}
    </delete>

    <!-- 用户 [新增] 的角色关系数据持久化到数据库 -->
    <insert id="insertObjects">
        INSERT INTO sys_role_menus
            (role_id, menu_id)
        VALUES
            <foreach collection="menuIds" item="item" separator=",">
                (#{roleId}, #{item})
            </foreach>
    </insert>

    <!-- 基于 id 查询角色菜单关系数据 -->
    <select id="findMenuIdsByRoleId" resultType="int">
        SELECT menu_id
        FROM sys_role_menus
        WHERE role_id = #{id}
    </select>
</mapper>
